/* Place CSS styles here */
/* shortcut=command / */
/* star means all */
/* homepage */
p {
    color:blue
}
/* distributes font to entire site*/
body {
    color: olivedrab;
    font-family: 'Bebas Neue', cursive;
}

p {
    background-color: blanchedalmond;
    font-size: 20px;
}
/* distribute font to all headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: rosybrown;
    font-family: 'Source Code Pro', monospace;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    font-size: 80px;
    /* text-align: center; */
}
.borderloser {
    max-width: 800px;
    margin: 0 auto;
    border: 2px solid rgb(79, 76, 76);
    border-radius: 12px;
    padding: 12px 24px;
}

a {
    color: blueviolet;
}
 
a:hover {
color: plum;
}
img {
    width: 500px;
    height: 500px;
}

.nanaking {
    text-align: center;
} 

.gizimg {
    text-align: center;
    border: 4px solid orange;
    padding: 20px;
    
}

.default{
    text-align: center;
    border: 4px solid orange;
    padding: 40px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    background-color: brown;
    text-align: center;
}

.trois {
    display: flex;
    justify-content: center;
    gap: 15px;
}