/* Place CSS styles here */
/* shortcut=command / */
/* star means all */
/* homepage */
html {
    scroll-behavior: smooth;
}

/* .links {
    color: blueviolet;
}
 
.links:hover {
color: plum;
} */

p {
    color:blue
}

.backb {
    color: gold;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:  10px;
    padding-right: 10px;
    border: 1px black;
    border-radius: 8px;
    transition: .25s all ease;
}

.backb:hover {
color: black;
background-color: gold;
}

/* distributes font to entire site*/
body {
    color: olivedrab;
    font-family: 'Bebas Neue', cursive;
}

p {
    background-color: blanchedalmond;
    font-size: 20px;
}

/* distribute font to all headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: rosybrown;
    font-family: 'Source Code Pro', monospace;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    font-size: 80px;
    /* text-align: center; */
}

.borderloser {
    max-width: 800px;
    margin: 0 auto;
    border: 2px solid rgb(79, 76, 76);
    border-radius: 12px;
    padding: 12px 24px;
}

img {
    width: 100%;
    height: auto;
}

.nanaking {
    text-align: center;
} 

.gizimg {
    text-align: center;
    border: 4px solid orange;
    padding: 20px;
    
}

.default{
    text-align: center;
    border: 4px solid orange;
    padding: 40px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(172, 172, 172);
}

.head nav {
    display: flex;
    justify-content:space-between;
}
.small {
width: 20%;
}
.name {
    background-color: rgb(195, 132, 132);
    text-align: center;
}

.trois {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border: 1px black;
}

.tiles {
    display: flex;
    gap: 20px;
}

footer {
    display: flex;
    justify-content: flex-end;
}
footer img {
    width: 400px;
}

/* MUSIC */
.headerm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 35px;
}
/* phone screen */
@media screen and (max-width: 479px) {
    .headerm {
      flex-direction: column;
    }
  }
  
  @media screen and (min-width: 480px) {
    .headerm {
      flex-direction: row;
    }
  }

  /* @media screen and (max-width: 767px) {
    .link {
      flex-direction: column;
    }
  }
  
  @media screen and (min-width: 768px) {
    .link {
      flex-direction: row;
    }
  } */

.logo {
    max-width: 120px;
}

.apple {
    display: flex;
}

@media screen and (max-width: 479px) {
    .apple {
      width: 100%;
      justify-content: space-between;
    }
  }